a {
  margin: 0 10px;
}

a.active, a.link-active {
  color: red;
  font-size: 30px;
}

a.about-active {
  color: brown;
  font-size: 20px;
}

/*a.link-active {*/
/*  color: blue;*/
/*  !*删除线*!*/
/*  !*text-decoration: line-through;*!*/
/*  font-size: 30px;*/
/*}*/