table {
    /*边框*/
    border: 1px solid #eee;
    /*边框折叠*/
    border-collapse: collapse;
}

th, td {
    border: 1px solid #eeeeee;
    /*上下10   左右16*/
    padding: 10px 16px;
    text-align: center;
}

th {
    background-color: #cccccc;
}

.count {
    margin: 0 5px;
}